<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEBUG</key>
	<true/>
	<key>REPEAT_SCORE</key>
	<dict>
		<key>TIER_1</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>3</integer>
			<key>KEY_SCORE</key>
			<integer>400</integer>
			<key>KEY_LEVEL</key>
			<integer>0</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string></string>
			<key>KEY_ID</key>
			<string></string>
		</dict>
		<key>TIER_2</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>3</integer>
			<key>KEY_SCORE</key>
			<integer>1000</integer>
			<key>KEY_LEVEL</key>
			<integer>0</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string></string>
			<key>KEY_ID</key>
			<string></string>
		</dict>
		<key>TIER_3</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>3</integer>
			<key>KEY_SCORE</key>
			<integer>1800</integer>
			<key>KEY_LEVEL</key>
			<integer>0</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string></string>
			<key>KEY_ID</key>
			<string></string>
		</dict>
		<key>TIER_4</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>3</integer>
			<key>KEY_SCORE</key>
			<integer>2800</integer>
			<key>KEY_LEVEL</key>
			<integer>0</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string></string>
			<key>KEY_ID</key>
			<string></string>
		</dict>
	</dict>
	<key>REPEAT_LEVEL</key>
	<dict>
		<key>TIER_1</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>3</integer>
			<key>KEY_SCORE</key>
			<integer>0</integer>
			<key>KEY_LEVEL</key>
			<integer>5</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string></string>
			<key>KEY_ID</key>
			<string></string>
		</dict>
		<key>TIER_2</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>3</integer>
			<key>KEY_SCORE</key>
			<integer>0</integer>
			<key>KEY_LEVEL</key>
			<integer>10</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string></string>
			<key>KEY_ID</key>
			<string></string>
		</dict>
		<key>TIER_3</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>3</integer>
			<key>KEY_SCORE</key>
			<integer>0</integer>
			<key>KEY_LEVEL</key>
			<integer>10</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string></string>
			<key>KEY_ID</key>
			<string></string>
		</dict>
		<key>TIER_4</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>3</integer>
			<key>KEY_SCORE</key>
			<integer>0</integer>
			<key>KEY_LEVEL</key>
			<integer>10</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string></string>
			<key>KEY_ID</key>
			<string></string>
		</dict>
	</dict>
	<key>LEVEL</key>
	<dict>
		<key>TIER_1</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>0</integer>
			<key>KEY_SCORE</key>
			<integer>0</integer>
			<key>KEY_LEVEL</key>
			<integer>5</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string>ReachLevel1</string>
			<key>KEY_ID</key>
			<string>TB_RL_01</string>
		</dict>
		<key>TIER_2</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>0</integer>
			<key>KEY_SCORE</key>
			<integer>0</integer>
			<key>KEY_LEVEL</key>
			<integer>10</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string>ReachLevel2</string>
			<key>KEY_ID</key>
			<string>TB_RL_02</string>
		</dict>
		<key>TIER_3</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>0</integer>
			<key>KEY_SCORE</key>
			<integer>0</integer>
			<key>KEY_LEVEL</key>
			<integer>15</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string>ReachLevel3</string>
			<key>KEY_ID</key>
			<string>TB_RL_03</string>
		</dict>
		<key>TIER_4</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>0</integer>
			<key>KEY_SCORE</key>
			<integer>0</integer>
			<key>KEY_LEVEL</key>
			<integer>20</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string>ReachLevel4</string>
			<key>KEY_ID</key>
			<string>TB_RL_04</string>
		</dict>
	</dict>
	<key>SCORE</key>
	<dict>
		<key>TIER_1</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>0</integer>
			<key>KEY_SCORE</key>
			<integer>400</integer>
			<key>KEY_LEVEL</key>
			<integer>0</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string>ReachScore1</string>
			<key>KEY_ID</key>
			<string>TB_RS_01</string>
		</dict>
		<key>TIER_2</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>0</integer>
			<key>KEY_SCORE</key>
			<integer>900</integer>
			<key>KEY_LEVEL</key>
			<integer>0</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string>ReachScore2</string>
			<key>KEY_ID</key>
			<string>TB_RS_02</string>
		</dict>
		<key>TIER_3</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>0</integer>
			<key>KEY_SCORE</key>
			<integer>1500</integer>
			<key>KEY_LEVEL</key>
			<integer>0</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string>ReachScore3</string>
			<key>KEY_ID</key>
			<string>TB_RS_03</string>
		</dict>
		<key>TIER_4</key>
		<dict>
			<key>KEY_REPEATED</key>
			<integer>0</integer>
			<key>KEY_SCORE</key>
			<integer>2500</integer>
			<key>KEY_LEVEL</key>
			<integer>0</integer>
			<key>KEY_ACHIEVEMENT_TITLE</key>
			<string>ReachScore4</string>
			<key>KEY_ID</key>
			<string>TB_RS_04</string>
		</dict>
	</dict>
</dict>
</plist>
